/* collapse into one column on small devices */
@media (max-width: 768px) {
    .grail {
      grid-template-areas:
        "header"
        "nav"
        "content"
        "side"
        "footer";
  
      grid-template-columns: 1fr;
      grid-template-rows:
        auto /* Header */
        minmax(75px, auto) /* Nav */
        1fr /* Content */
        minmax(75px, auto) /* Sidebar */
        auto; /* Footer */
    }
  
    nav, aside {
      margin: 0;
    }
  }
  
  
  
  /* the grid */
  .grail {
    display: grid;
  
    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";
  
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
  
    height: 100vh;
  }
  
  /* grid items */
  header {
    grid-area: header;
    background-color: green;
  }

  
  nav {
    background-color: red;
    grid-area: nav;
    margin-left: 0.5rem;
  }
  
  main {
    background-color: blue;
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  aside {
    background-color: orange;

    grid-area: side;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer {
    background-color: purple;

    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
/* HEADER */

  .logo-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    list-style-type: none;

    background-color: salmon;

    display: flex;
    justify-content: space-around;   
    align-items: center; 
  }

  .navbar-border {
    border-style: outset;
    border-radius: 10px;    
    }
    
  .navbar-border:hover{
    border-style: inset;
  }

  .navbar-link:hover {
    color: gray;
    transition-duration: 0.5s;
  }

